In [1]:
import pandas as pd  #  type: ignore
import zipfile
from zipfile import ZipFile
import os
import glob
import numpy as np

In [ ]:
ruta = r'/Users/maferojas/GitHub/Ana_descriptiva_RPOS/Laboratorios/2024-2-LAB-05-limpieza-de-datos-de-campanas-de-marketing-maferojas23/files/input'
archivos = glob.glob(ruta+'/*.csv.zip')

# Inicializamos el DataFrame 'df' para iterar
df = pd.DataFrame()

# Concatenamos los registros de cada archivo al DataFrame que inicializamos
for archivo in archivos:
  data = pd.read_csv(archivo)
  df = pd.concat([df, data], ignore_index=True)

df

In [25]:
# Limpieza preliminar del Dataset
df.drop(df[df['Unnamed: 0'] == 'Unnamed: 0'].index, inplace = True)

df.to_csv("../files/data.csv")
frame = pd.read_csv("../files/data.csv")
frame

,Unnamed: 0.1,Unnamed: 0,client_id,age,job,marital,education,credit_default,mortgage,month,day,contact_duration,number_contacts,previous_campaign_contacts,previous_outcome,cons_price_idx,euribor_three_months,campaign_outcome
0,0,0,16476,28,admin.,single,university.degree,no,yes,jul,19,156,2,0,nonexistent,93.918,4.963,no
1,1,1,16477,36,blue-collar,married,high.school,no,no,jul,17,238,1,0,nonexistent,93.918,4.963,no
2,2,2,16478,40,blue-collar,married,high.school,no,no,jul,31,319,1,0,nonexistent,93.918,4.963,no
3,3,3,16479,33,blue-collar,married,basic.4y,no,yes,jul,27,371,1,0,nonexistent,93.918,4.963,no
4,4,4,16480,32,blue-collar,divorced,basic.6y,unknown,yes,jul,12,670,1,0,nonexistent,93.918,4.963,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,41183,4114,8233,56,management,married,basic.9y,no,yes,jun,3,941,3,0,nonexistent,94.465,4.864,yes
41184,41184,4115,8234,35,blue-collar,married,basic.9y,no,yes,jun,16,349,2,0,nonexistent,94.465,4.864,no
41185,41185,4116,8235,60,retired,divorced,basic.4y,unknown,yes,jun,21,131,1,0,nonexistent,94.465,4.864,no
41186,41186,4117,8236,37,admin.,single,high.school,no,yes,jun,19,384,1,0,nonexistent,94.465,4.864,no
41187,41187,4118,8237,31,blue-collar,single,high.school,no,yes,jun,12,440,1,0,nonexistent,94.465,4.864,no

In [ ]:
# Carpeta donde se guardaran los archivos finales
output_folder = '../files/output'

#client.csv

client = ["client_id", "age", "job", "marital", "education", "credit_default", "mortgage"]
df_client = df[client]

ruta_carpeta = "ruta_deseada/mi_carpeta"  # Cambia esto por la ruta de la carpeta deseada
ruta_exportacion = os.path.join(output_folder, "client.csv")
os.makedirs(output_folder, exist_ok=True)

df_client.to_csv (ruta_exportacion, index=False)

In [ ]:
#campaign.csv

compaign = ["client_id", "number_contacts", "contact_duration", "previous_campaign_contacts", "previous_outcome", "campaign_outcome", "mortgage"]
df_client = df[client]

ruta_carpeta = "ruta_deseada/mi_carpeta"  # Cambia esto por la ruta de la carpeta deseada
ruta_exportacion = os.path.join(output_folder, "client.csv")
os.makedirs(output_folder, exist_ok=True)

df_client.to_csv (ruta_exportacion, index=False)

In [ ]:

# Ruta de la carpeta que contiene los archivos .csv.zip
carpeta = "../files/input"

# Lista para almacenar los DataFrames leídos
dataframes = []

# Iterar sobre los archivos en la carpeta
for archivo in os.listdir(carpeta):
    if archivo.endswith(".csv.zip"):
        ruta_zip = os.path.join(carpeta, archivo)
        
        # Abrir el archivo .zip
        with ZipFile(ruta_zip) as zip_file:
            # Encontrar el archivo .csv dentro del .zip
            for nombre_archivo in zip_file.namelist():
                if nombre_archivo.endswith(".csv"):
                    # Leer el archivo .csv directamente desde el .zip
                    with zip_file.open(nombre_archivo) as csv_file:
                        df = pd.read_csv(csv_file)
                        dataframes.append(df)

# Combinar todos los DataFrames en uno solo
data_completa = pd.concat(dataframes, ignore_index=True)
print(data_completa)

In [ ]:
# Ruta al archivo .zip
zip_file_path = '../files/input.zip'

# Carpeta a donde se extraen los archivos
input_folder = '../input'

# Carpeta donde se guardaran los archivos finales
ouput_folder = '../files/output'